{
  "public": {
    "appName": "Sondage",
    "appDescription": "Application de sondage et prise de rendez vous",
    "keycloakUrl": "",
    "keycloakRealm": "",
    "services": {
      "sondagesUrl": "http://localhost:3010"
    },
    "laboiteHost": "http://localhost:3000"
  },
  "keycloak": {
    "pubkey": "",
    "client": "sso",
    "adminEmails": [],
    "adminUser": "",
    "adminPassword": ""
  },
  "smtp": {
    "url": "smtps://USERNAME:PASSWORD@HOST:PORT",
    "fromEmail": "",
    "toEmail": ""
  },
  "private": {
    "apiKeys": [""]
  }
}
