{
    "public": {
      "enableKeycloak": true,
      "keycloakUrl": "",
      "keycloakRealm": "",
      "laboiteHost": ""
    },
    "keycloak": {
      "pubkey": "",
      "client": ""
    },
    "private": {
      "laboiteApiKey": ""
    }
  }
  